

/*

TO-DO:
	colors:
		blue: #469AE9;
		red: #FF4D4D
			opaque version: rgba(255, 74, 62, .6)
		grey: #959595;
		green: #53BF6B
		green (rgn): rgb(83, 191, 107)
	think of some content to add w/ ::after or ::before
		-add images of arrows beneath scrollable content
	find a bg image for pre amble and requirements sections
		-use animate to add a slow zoom to bg when mouse is over either section
	add a feature that uses :focus
		-have the select a design section pop-in and back out when comes into focus?

*/

/*********************
GENERAL
*********************/

* {
	-mox-box-sizing: border-box;
	Box-sizing: border-box
	Padding: 0;
	Margin: 0;
}

html {
	min-width: 1200px;
	background: url("img/swirl_pattern.png") fixed;
}


body {
	font: 85% georgia, sans-serif;
	line-height: 1.2;
	font-family: "Titillium Web", sans-serif;
	margin: 0 auto;
	width: 100%;
}

a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

.page-wrapper {
	width: 60%;
	float: right;
}

body h1,h2,h3,h4,h5,h6 {
	font-family: "Amaranth", sans-serif;
	text-transform: uppercase;
}

h3 {
	font-size: 200%;
	margin-bottom: 10px;
	display: inline-block;
	border-bottom: 2px dashed #53BF6B;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	margin-bottom: 10px;

}

a {
	background: none;
	-webkit-transition: background .8s;
	transition: background .8s;
	-webkit-transition: color .8s;
	transition: color .8s;
}

a:hover {
	background: rgba(83, 191, 107,.3);
	color: rgb(83, 191, 107);
}

abbr {
	color: inherit;
	background: transparent;
}
/*********************
LEFT FIXED AREA
*********************/

header {
	position: fixed	;
	top: 15px;
	left: 1%;
	width: 36%;
	margin-right: 1%;
}

header h1 {
	font-size: 300%;
	border-bottom: 3px solid #000;
	display: inline-block;
	margin-bottom: 5px;
	color: #53BF6B;
}

header h2 {
	color: #000;
}

.summary {
	position: fixed;
	top: 100px;
	left: 1%;
	width: 20%;
	font-size: 85%;
	color: #959595;
}

.summary p:nth-child(1) {
	background: rgb(83, 191, 107);
	color: #fff;
	padding-left: 5px;
}
.summary p:nth-child(2) {
	position: fixed;
	top: 595px;
	background: rgb(83, 191, 107);
	color: #fff;
	padding-left: 5px;
}

.summary p:nth-child(2) a:hover {
	color: #fff;
}
.explanation {
	position: fixed;
	top: 240px;
	left: 1%;
	width: 36%;
}

footer {
	position: fixed;
	top: 615px;
	left: 1%;
	width: 36%;
}

/*********************
SCROLLABLE CONTENT
*********************/

.page-wrapper {
	border-left: 3px solid #000;
	background: url("img/noise_pattern_with_crosslines.png") fixed;
}

.preamble {
	position: relative;
	padding-top: 240px;
	/*padding-bottom: 375px;*/
	height: 90vh;
	padding-left: 2%;
	padding-right: 1%;
	z-index: 100;
	background: #fff;
	background: url("img/subtle_stripes.png");
}

.participation, .benefits {
	width: 47%;
	padding-left: 2%;
}
.participation {
	margin-top: 800px;
	margin-bottom: 380px;
}

.benefits {
	margin-bottom: 300px;
}

.requirements {
	position: relative;
	/*padding-bottom: 81px;*/
	padding-top: 30vh;
	height: 70vh;
	z-index: 10;
	background: url("img/subtle_stripes.png");
	padding-left: 2%;
	padding-right: 1%;
}


/*********************
FIXED SIDEBAR
*********************/

.design-selection, .design-archives {
	position: fixed;
	left: 70%;
	width: 25%;
}

.design-selection {
	top: 173px;
}

.design-selection .designer-name {
	float: right;
}

.design-selection li {
	margin-bottom: 5px;
}

.select {
	text-align: center;
	margin-bottom: 15px;
}

.design-archives {
	text-align: center;
	top: 403px;
}

.design-archives li {
	display: inline-block;
}
.archives {
	display: none;
}

.next a, .viewall a {
	display: inline-block;
	padding: 8px 15px;
	border: 1px solid #000;
	background: #fff;
	-webkit-transition: background 2s;
	transition: background .8s;
}

.design-archives a:hover {
	background: rgba(83, 191, 107,.3);
	color: #000;
}

.indicator {
	background: inherit;
}
/*********************
RESOURCES (footer)
*********************/

.zen-resources {
	padding-bottom: 60px;
	background: url("img/subtle_stripes.png");
}
.resources {
	display: inline-block;
	margin: 0;
	float: left;
	font-size: 120%;
	margin-left: 2%;
}

.zen-resources ul {
	float: right;
	width: 79%;
}

.zen-resources ul li {
	display: inline-block;
	margin-right: 1%;
}
