

/*

TO-DO:
	colors:
		blue: #469AE9;
		red: #FF4D4D
		grey: #959595;
	style abbr and a links including psuedo classes
	think of some content to add w/ ::after or ::before
	use :hover class to animate download options?
	find breakpoints and design 2 more style for tablet/mobile
	how can i use %'s and min-height to make variable height page?
	add down arrows between scrollable content?
*/

/*********************
GENERAL
*********************/

* {
	-mox-box-sizing: border-box;
	Box-sizing: border-box
	Padding: 0;
	Margin: 0;
	background: #fff;
}

html {
	min-height: 676px;
}
body {
	font: 85% georgia, sans-serif;
	line-height: 1.2;
	background: #fff;
	max-width: 1280px;
	font-family: "Titillium Web", sans-serif;
	min-height: 640px;
}

a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

.page-wrapper {
	width: 60%;
	float: right;
}

body h1,h2,h3,h4,h5,h6 {
	font-family: "Amaranth", sans-serif;
	text-transform: uppercase;
}

h3 {
	font-size: 200%;
	margin-bottom: 10px;
	display: inline-block;
	border-bottom: 2px dashed #469AE9;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	margin-bottom: 10px;

}
/*********************
LEFT FIXED AREA
*********************/

header {
	position: fixed;
	top: 15px;
	left: 1%;
	width: 36%;
	margin-right: 1%;
}

header h1 {
	font-size: 300%;
	border-bottom: 3px solid #FF4D4D;
	display: inline-block;
	margin-bottom: 5px;
}

header h2 {
	color: #469AE9;
}

.summary {
	position: fixed;
	top: 100px;
	left: 1%;
	width: 20%;
	font-size: 85%;
	color: #959595;
	padding-right: 16%;
}

.summary p:nth-child(2) {
	position: fixed;
	top: 595px;
}

.explanation {
	position: fixed;
	top: 240px;
	left: 1%;
	width: 36%;
}

footer {
	position: fixed;
	top: 615px;
	left: 1%;
	width: 36%;
}

/*********************
SCROLLABLE CONTENT
*********************/

.page-wrapper {
	padding-right: 15px;
	border-left: 3px solid #FF4D4D;
	padding-left: 1%;

}

.preamble {
	position: relative;
	padding-top: 240px;
	padding-bottom: 375px;
	z-index: 100;
}

.participation, .benefits, .requirements {
	width: 50%;

}
.participation {
	margin-top: 800px;
}

.participation {
	margin-bottom: 380px;
}

.benefits {
	margin-bottom: 300px;
}

.requirements {
	position: relative;
	padding-bottom: 81px;
	padding-top: 87px;
	width: 100%;
	z-index: 10;
}


/*********************
FIXED SIDEBAR
*********************/

.design-selection, .design-archives {
	position: fixed;
	left: 70%;
	width: 25%;
}

.design-selection {
	top: 173px;
}

.design-selection .designer-name {
	float: right;
}

.design-selection li {
	margin-bottom: 5px;
}
.select {
	text-align: center;
	margin-bottom: 15px;
}

.design-archives {
	text-align: center;
	top: 403px;
}

.archives {
	display: none;
}

.next, .viewall {
	display: inline-block;
	padding: 8px 15px;
	border: 1px solid #000;
}

/*********************
RESOURCES (footer)
*********************/

.resources {
	display: inline-block;
	margin: 0;
	float: left;
	width: 20%;
	font-size: 120%;
	border: none;
}

.zen-resources ul {
	float: right;
	width: 79%;
	padding: auto;
}

.zen-resources ul li {
	display: inline-block;
	text-align: center;
	margin-right: 15px;
}

aside {
	margin-bottom: 60px;
}
