

/*

TO-DO:
	change margins/spacing to vh on opening page
	style abbr and a links including psuedo classes
	think of some content to add w/ ::after or ::before
	use :hover class to animate download options?
	find breakpoints and design 2 more style for tablet/mobile
	all the fixed positioning creates problem when screen isn't full height...
*/

/*********************
GENERAL
*********************/

* {
	-mox-box-sizing: border-box;
	Box-sizing: border-box
	Padding: 0;
	Margin: 0;
	background: #fff;
}

body {
	font: 85% georgia, sans-serif;
	line-height: 1.2;
	background: #fff;
	max-width: 1280px;
	font-family: "Titillium Web", sans-serif;
	min-height: 675px;

}

a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

.page-wrapper {
	width: 60%;
	float: right;
}

body h1,h2,h3,h4,h5,h6 {
	font-family: "Amaranth", sans-serif;
	text-transform: uppercase;
}
h3 {
	font-size: 200%;
	margin-bottom: 10px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	margin-bottom: 10px;
}
/*********************
LEFT FIXED AREA
*********************/

header {
	position: fixed;
	top: 2vh;
	left:2vh;
	width: 36%;
}

header h1 {
	font-size: 300%;
}

.summary {
	position: fixed;
	top: 15vh;
	left: 2vh;
	width: 20%;
	font-size: 85%;
}

.summary p:nth-child(2) {
	position: fixed;
	bottom: 50px;
}

.explanation {
	position: fixed;
	top: 35vh;
	left: 2vh;
	width: 36%;
}

footer {
	position: fixed;
	bottom: 30px;
	left: 2vh;
	width: 40%;
}

/*********************
SCROLLABLE CONTENT
*********************/

.page-wrapper {
	padding-right: 2vh;
}

.preamble {
	position: relative;
	padding-top: 35vh;
	padding-bottom: 55vh;
	z-index: 100;
}

.participation, .benefits, .requirements {
	width: 50%;

}
.participation {
	margin-top: 155vh;
}

.participation {
	margin-bottom: 60vh;
}

.benefits {
	margin-bottom: 50vh;
}
.requirements {
	position: relative;
	margin-bottom: 12vh;
	padding-top: 10vh;
	width: 100%;
	z-index: 10;
}
/*********************
FIXED SIDEBAR
*********************/

.design-selection, .design-archives {
	position: fixed;
	left: 70%;
	width: 25%;
}

.design-selection {
	top: 25vh;
}

.design-selection .designer-name {
	float: right;
}

.design-selection li {
	margin-bottom: 5px;
}
.select {
	text-align: center;
	margin-bottom: 15px;
}

.design-archives {
	text-align: center;
	top: 60vh;
}

.archives {
	display: none;
}

.next, .viewall {
	display: inline-block;
	padding: 8px 15px;
	border: 1px solid #000;
}

/*********************
FOOTER
*********************/



footer {
	width: 50%;
}

footer a {

}
